* {
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
    font-family: serif;
}

body {
    margin-bottom: 0px;
}

.sec-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: slategrey;
    border-bottom: black 3px solid;
}

.nav {
    display: none;
}

label {
    width: 30px;
    height: 30px;
    border: black 1px solid;
    border-radius: 7px;
    display: block;
    background: transparent;
    text-align: center;
    line-height: 28px;
    float: right;
    margin: 10px 15px;
}

.navbar-toggler-icon {
    background-image: url("menu.svg");
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

#navbar-toggle-cbox {
    display: none;
}

#navbar-toggle-cbox:checked + label {
    background: white;
}

#navbar-toggle-cbox:checked ~ .nav {
    display: block;
    list-style-type: none;
    margin-top: 50px;
    font-size: 20px;
}

#navbar-toggle-cbox:checked ~ .nav > li {
    margin-bottom: 15px;
}

.nav a {
    color: white;
    text-decoration: none;
}

.nav a:active {
    color: gold;
}

header {
    background-image: url("robot-3385181_960_720.jpg");
    height: 100%;
    min-height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
}

h1, h2 {
    text-align: center;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

h1 {
    padding-top: 45px;
}

h2 {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 2.2rem;
}

h3 {
    text-align: center;
    margin: 40px;
    font-size: 1.6rem;
}

h4 {
    text-align: center;
    margin-bottom: 0;
    font-weight: 100;
    font-size: 1.2rem;
}

.h4-portfolio {
    font-weight: bold;
    font-size: 1.5rem;
}

.title {
    font-size: 2.2rem;
    margin: 120px 10px 0;
}

img {
    width: 220px;
    max-width: 100%;
    display: block;
    margin: 10px auto;
}

.img-portfolio {
    width: 90%;
    max-width: 100%;
}

.portfolio > ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.portfolio a {
    font-size: 1.1rem;
    color: slategrey;
}

.portfolio a:active {
    color: gold;
}

.portfolio > ul > li:not(:last-child) {
    padding-right: 10px;
}

.portfolio > ul > li:not(:last-child):after {
    content: '|';
    padding-left: 10px;
}

.p-portfolio {
    margin: 20px 20px 40px;
    text-align: justify;
    font-size: 1rem;
}

.p-footer {
    margin: 0;
}

.p-footer a {
    color: white;
}

.p-footer a:active {
    color: gold;
}

small {
    display: block;
}

small, .p-footer {
    padding-top: 8px;
    text-align: center;
    color: white;
}

footer {
    width: 100%;
    height: 70px;
    background-color: slategrey;
    border-top: black 3px solid;
    margin-top: 120px;
}

@media screen and (min-width: 595px) {
    body {
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;
    }

    .nav {
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        padding: 0;
    }

    .nav a:hover {
        color: gold;
        font-weight: bold;
    }

    .navbar-toggler-icon {
        display: none;
    }

    label {
        display: none;
    }

    header {
        height: 700px;
        max-height: 800px;
    }

    h1 {
        padding-top: 20%;
        font-size: 3rem;
    }

    .container {
        display: flex;
        justify-content: space-evenly;
    }

    .img-portfolio {
        width: 90%;
        max-width: 1000px;
    }
    
    .portfolio li a:hover {
        color: gold;
        font-weight: bold;
    }

    .portfolio a:visited {
        color: slategrey;
    }

    .p-portfolio {
        margin: 20px 50px 40px;
        text-align: justify;
        line-height: 130%;
    }
}

@media screen and (min-width: 1200px) {
    .nav {
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;
    }
}